In [1]:
# !wget "https://www.dropbox.com/scl/fi/jqcoempaqc4v3olxpgz94/sst.mon.anom.1982-2022.nc?rlkey=ob164gtkpjwdwjll1ch5kwp3d&e=1&dl=1"

--2024-09-21 12:29:58--  https://www.dropbox.com/scl/fi/jqcoempaqc4v3olxpgz94/sst.mon.anom.1982-2022.nc?rlkey=ob164gtkpjwdwjll1ch5kwp3d&e=1&dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com/cd/0/inline/Ca91rCse4vKevSJBUA04bpbhTVO8iJItVrQ36TtOYy6sEJZDzo39w1wjUZgX7e-zQSNtDjlNWv8K4TUWB-LGMAzYYPIb22G_P8_drpI47svHNbcy4APwHSXg8XvCXJUhWRC-SL1tF6qz1IYJN8Fs7ef4/file?dl=1# [following]
--2024-09-21 12:29:59--  https://uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com/cd/0/inline/Ca91rCse4vKevSJBUA04bpbhTVO8iJItVrQ36TtOYy6sEJZDzo39w1wjUZgX7e-zQSNtDjlNWv8K4TUWB-LGMAzYYPIb22G_P8_drpI47svHNbcy4APwHSXg8XvCXJUhWRC-SL1tF6qz1IYJN8Fs7ef4/file?dl=1
Resolving uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com (uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com)... 162.125.80.15
Connecting to uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com (uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Ca8ztnxkWn0UzSpWHtUijoYR97AJ32c0eJ4lWBiSPEMiQbhhz6uZLudiJ6VIC83jpIPS8ZUN8L3OO0mcuO5AHbW5ZbS4I1EZbgAZNyHLq0Y0AmpWBV_3KkQV8DA1MhNz_E-U-MnSUbthMirHJKJtoeYpICsrHVvOCtHS6beRfYVjsz_yBSgft5zQitHS4DevtDa1M8PxTGWTyfoaQjmW8_1ckxQYgfNX0MdtLshVoB-8Vm3xfKOIYbkr_uqPtgch4CzfosJIdY8eW4xrCH9GY45Z0aX7gAjCgthh0xyRkNCODwzD7z9GM74QdpTqG_Ltw9nFEDtUf8Bv3dR2u87sqOzjqYGgntUW9t-OvAwv7fM30dQSFjvtn5M19BZGLaO5smI/file?dl=1 [following]
--2024-09-21 12:30:00--  https://uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com/cd/0/inline2/Ca8ztnxkWn0UzSpWHtUijoYR97AJ32c0eJ4lWBiSPEMiQbhhz6uZLudiJ6VIC83jpIPS8ZUN8L3OO0mcuO5AHbW5ZbS4I1EZbgAZNyHLq0Y0AmpWBV_3KkQV8DA1MhNz_E-U-MnSUbthMirHJKJtoeYpICsrHVvOCtHS6beRfYVjsz_yBSgft5zQitHS4DevtDa1M8PxTGWTyfoaQjmW8_1ckxQYgfNX0MdtLshVoB-8Vm3xfKOIYbkr_uqPtgch4CzfosJIdY8eW4xrCH9GY45Z0aX7gAjCgthh0xyRkNCODwzD7z9GM74QdpTqG_Ltw9nFEDtUf8Bv3dR2u87sqOzjqYGgntUW9t-OvAwv7fM30dQSFjvtn5M19BZGLaO5smI/file?dl=1
Reusing existing connection to uc7f0cfffce612e50e6384199386.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 127534092 (122M) [application/binary]
Saving to: ‘sst.mon.anom.1982-2022.nc?rlkey=ob164gtkpjwdwjll1ch5kwp3d&e=1&dl=1’

sst.mon.anom.1982-2 100%[===================>] 121.63M  14.0MB/s    in 8.4s

2024-09-21 12:30:09 (14.5 MB/s) - ‘sst.mon.anom.1982-2022.nc?rlkey=ob164gtkpjwdwjll1ch5kwp3d&e=1&dl=1’ saved [127534092/127534092]

In [1]:
from repository import GeoDatabaseManager

file = '/Users/tarunsreepada/Github/geoanalytics/test/sst.mon.anom.1982-2022.nc'
obj = GeoDatabaseManager()
obj.connect('tarun', '163.143.165.143', 'tarun', 'tarun')

('PostgreSQL 13.16 (Ubuntu 13.16-1.pgdg22.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)
You are now connected

In [2]:
# obj.delete_repository('test')
# obj.create_repository('test', 3)

# obj.insert_raster('test', file, 3, 2)

In [3]:
df = obj.get_dataframe_for_envelope('test', 300, 200, 0, 0)
print(df)

           x     y       b1       b2       b3
0        0.5  89.5      0.0      0.0      0.0
1        1.5  89.5      0.0      0.0      0.0
2        2.5  89.5      0.0      0.0      0.0
3        3.5  89.5      0.0      0.0      0.0
4        4.5  89.5      0.0      0.0      0.0
...      ...   ...      ...      ...      ...
26995  295.5   0.5  65534.0  65534.0  65534.0
26996  296.5   0.5  65534.0  65534.0  65534.0
26997  297.5   0.5  65534.0  65534.0  65534.0
26998  298.5   0.5  65534.0  65534.0  65534.0
26999  299.5   0.5  65534.0  65534.0  65534.0

[27000 rows x 5 columns]

/Users/tarunsreepada/Github/geoAnalytics/geoAnalytics/repository.py:303: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

In [4]:
obj.filtering(df, 'filtering.txt')

/Users/tarunsreepada/Github/geoAnalytics/geoAnalytics/repository.py:333: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return [self.scores[j - 2].calculate_score(row[j]) for j in range(2, len(row))]

           x     y       b1       b2       b3   score_0   score_1   score_2
0        0.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
1        1.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
2        2.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
3        3.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
4        4.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
...      ...   ...      ...      ...      ...       ...       ...       ...
26995  295.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26996  296.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26997  297.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26998  298.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26999  299.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000

[27000 rows x 8 columns]

In [5]:
print(obj.total_score(df))

           x     y       b1       b2       b3   score_0   score_1   score_2  \
0        0.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
1        1.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
2        2.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
3        3.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
4        4.5  89.5      0.0      0.0      0.0  0.068966  0.313433  0.193252
...      ...   ...      ...      ...      ...       ...       ...       ...
26995  295.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26996  296.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26997  297.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26998  298.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000
26999  299.5   0.5  65534.0  65534.0  65534.0  1.000000  1.000000  1.000000

       total_score
0         0.168895
1         0.168895
2         0.168895
3         0.168895
4         0.168895
...            ...
26995     0.666667
26996     0.666667
26997     0.666667
26998     0.666667
26999     0.666667

[27000 rows x 9 columns]

In [6]:
print(obj.get_dataframe('test'))
print(obj.get_dataframe_for_envelope('test', 100, 50, 110, 60))
obj.get_raster('test', 'temp', 100, 50, 110, 60)

/Users/tarunsreepada/Github/geoAnalytics/geoAnalytics/repository.py:318: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

           x     y       b1       b2       b3
0        0.5  89.5      0.0      0.0      0.0
1        1.5  89.5      0.0      0.0      0.0
2        2.5  89.5      0.0      0.0      0.0
3        3.5  89.5      0.0      0.0      0.0
4        4.5  89.5      0.0      0.0      0.0
...      ...   ...      ...      ...      ...
64795  355.5 -89.5  65534.0  65534.0  65534.0
64796  356.5 -89.5  65534.0  65534.0  65534.0
64797  357.5 -89.5  65534.0  65534.0  65534.0
64798  358.5 -89.5  65534.0  65534.0  65534.0
64799  359.5 -89.5  65534.0  65534.0  65534.0

[64800 rows x 5 columns]

/Users/tarunsreepada/Github/geoAnalytics/geoAnalytics/repository.py:305: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

        x     y       b1       b2       b3
0   100.5  59.5  65534.0  65534.0  65534.0
1   101.5  59.5  65534.0  65534.0  65534.0
2   102.5  59.5  65534.0  65534.0  65534.0
3   103.5  59.5  65534.0  65534.0  65534.0
4   104.5  59.5  65534.0  65534.0  65534.0
..    ...   ...      ...      ...      ...
95  105.5  50.5  65534.0  65534.0  65534.0
96  106.5  50.5  65534.0  65534.0  65534.0
97  107.5  50.5  65534.0  65534.0  65534.0
98  108.5  50.5  65534.0  65534.0  65534.0
99  109.5  50.5  65534.0  65534.0  65534.0

[100 rows x 5 columns]
Getting raster from database
Creating raster file
(127, '/bin/sh: ncrename: command not found')

/Users/tarunsreepada/Github/geoAnalytics/geoAnalytics/repository.py:305: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

(127, '/bin/sh: ncrename: command not found')
(127, '/bin/sh: ncrename: command not found')
(127, '/bin/sh: cdo: command not found')
(0, '')

FileNotFoundError: [Errno 2] No such file or directory: 'output.nc' -> 'temp.nc'

In [7]:
df = obj.get_dataframe('test')
print(df.head())

/Users/tarunsreepada/Github/geoAnalytics/geoAnalytics/repository.py:318: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

DatabaseError: Execution failed on sql 'SELECT ST_X(geog) as x, ST_Y(geog) as y, * FROM test;': relation "test" does not exist
LINE 1: SELECT ST_X(geog) as x, ST_Y(geog) as y, * FROM test;
                                                        ^